body {
    background-color: blanchedalmond;
    color: black;
}
.display {
    font-size: 70px;
}
.flex-container-direction-column {
     display: flex;
     flex-direction: column;
     margin: 5px;
}
.flex-container-direction-row {
     display: flex;
     flex-direction: row;
     margin: 5px;
}
.card_1 {
    border: 2px black solid;
    padding: 20px;
    border-radius: 10px;
}
/*BUTTONS START*/
.control-button {
    padding: 5px;
    filter: brightness(0%);
    cursor: pointer;
}
.control-button:hover {
    filter: brightness(50%);
}
.control-button:active {
    filter: brightness(0%);
}
.control-button2 {
    padding: 5px;
    filter: brightness(0%);
    cursor: pointer;
}
.control-button2:hover {
    filter: brightness(50%);
}
.control-button2:active {
    filter: brightness(0%);
}
.form-error {
    color: rgb(182, 0, 0);
}
/*BUTTONS END*/
#header-nameDisplay {
    display: flex;
}
#header-nameDisplay p {
    margin: 0px;
    align-content: center;
}

/*DESKTOP START*/
@media screen and (min-width: 800px) {
.gap-1 {
    width: 80px; height: 0;
}
.control-button {
    font-size: 36px;
    width: 50px;
    height: 50px;
}
.control-button2 {
    font-size: 24px;
    width: 40px;
    height: 40px;
}
#header-home {
    max-height: 50px;
}
#header-nameDisplay {
    min-width: 25%;
}
}

/*MOBILE START*/
@media screen and (max-width: 800px) {
.control-button {
    font-size: 36px;
    width: 60px;
    height: 60px;
}
.control-button2 {
    font-size: 24px;
    width: 40px;
    height: 40px;
}
#header-home {
    max-height: 40px;
}
#header-nameDisplay {
    width: 75%;
}
.card_1 {
    min-width: 100%;
}
}

/*FLEXBOX DEBUGGER*
* {
  background: rgb(0 100 0 / 0.1) !important;
}
*:hover { 
   outline:1px blue solid;
 } 