body {
    background-color: #DEDAB8;
}
.card1 {
    background-color: #BA9E66;
    border-radius: 10px;
    padding: 10px 10px 10px;
    color: white;
    margin: auto;
}
.icon1 {
    filter: brightness(0%);
    width: 55px;
    height: 55px;
}
.controlButton {
    filter: brightness(0%);
    cursor: pointer;
}

/*DESKTOP*/
@media screen and (min-width: 800px) {
.controlButton {
    width: 50px;
    height: 50px;
}
}
/*MOBILE*/
@media screen and (max-width: 800px) {
.controlButton {
    width: 60px;
    height: 60px;
}
}