body {
    background-color: #DEDAB8;
    margin: 0px;
}
/*NAVBAR START*/
#navbar {
    background-color: #BA9E66;
    margin: 0px 0px 20px;
    display: flex;
    align-items: center;
}
#navLogo {
    color: white;
    font-size: 40px;
}
#navLogo a {
    color: white;
    text-decoration: none;

}
/*NAVBAR END*/

/*STOPWATCH START*/
#stopwatch {
    padding: 15px 30px 5px 30px;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#swSymbol {
    align-self: center;
}
#swControllers {
    align-self: center;
    margin: 5px 0px 0px;
}
#swDisplay {
    font-size: 40px;
    align-self: center;
}
select {
    width: 100%;
    background-color: #9C7E41;
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
}
option {
    color: white;
}
.card1 {
    background-color: #BA9E66;
    border-radius: 10px;
    padding: 10px 10px 0px;
    color: white;
    margin: auto;
}
.icon1 {
    filter: brightness(1000%);
    width: 55px;
    height: 55px;
    margin: 5px;
}
/*STOPWATCH END*/

/*DESKTOP*/
@media screen and (min-width: 800px) {
.controlButton {
    width: 55px;
    height: 55px;
}
.navButton {
    width: 35px;
    height: 35px;
    margin: 0px 5px 0px;
}
#navLogo {
    margin: 0px 5px 0px;
}
}
/*MOBILE*/
@media screen and (max-width: 800px) {
#swDisplay {
    font-size: 50px;
}
select {
    font-size: 20px;
}

.controlButton {
    width: 65px;
    height: 65px;
}

.navButton {
    width: 40px;
    height: 40px;
}
.navButton {
    width: 35px;
    height: 35px;
    margin: 0px 5px 0px;
}
#navLogo {
    margin: 0px 5px 0px;
}
}

/*BUTTONS*/
.controlButton {
    filter: brightness(1000%);
    cursor: pointer;
}
.controlButton:hover {
    filter: brightness(90%);
}
.controlButton:active {
    filter: brightness(1000%);
}

.navButton {
    filter: brightness(1000%);
    cursor: pointer;
}
.navButton:hover {
    filter: brightness(90%);
}
.navButton:active {
    filter: brightness(1000%);
}
/*FLEXBOX DEBUGGER*
* {
  background: rgb(0 100 0 / 0.1) !important;
}
*:hover { 
   outline:1px blue solid;
 } 