body {
    background-color: #DEDAB8;
}
.card1 {
    background-color: #BA9E66;
    border-radius: 10px;
    padding: 10px 10px 10px;
    color: white;
    font-size: 4vh;
    margin: auto;
}

.colFlexContainer {
    display: flex;
    flex-direction: column;
}

/*DESKTOP START*/
@media screen and (min-width: 800px) {
.rowFlexContainer {
    display: flex;
    flex-direction: row;
}
.card1 {
    height: 85vh;
    width: 60vw;
    margin-top: 3vh;
    padding: 3vh 3vw 3vh;
}
.card2 {
    height: 85vh;
    width: 30vw;
}
h1 {
    font-size: 15vh;
}

a:link {
    color: white;
    font-size: 3vh;
}
a:visited {
    color: white;
    font-size: 3vh;
}
#image1 {
    max-height: 80%;
}

}
/*MOBILE START*/
@media screen and (max-width: 800px) {
.rowFlexContainer {
    display: flex;
    flex-direction: column;
}

.card1 {
    height: fit-content;
    margin-top: 3vh;
    padding: 0px 4vw 0vh;
    font-size: 5vw;
}
.card2 {
    height: 100%;
    width: 80vw;
}
#siteName {
    font-size: 8vw;
    text-decoration-thickness: 1vw;
}
a:link {
    color: white;
    font-size: 4vw;
}
a:visited {
    color: white;
    font-size: 4vw;
}

#image1 {
    max-height: 40vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
}

/*FLEXBOX DEBUGGER*
* {
  background: rgb(0 100 0 / 0.1) !important;
}
*:hover { 
   outline:1px blue solid;
 } 