/*BUTTONS START*/
.control-button {
    padding: 5px;
    filter: brightness(0%);
    cursor: pointer;
}
.control-button:hover {
    filter: brightness(50%);
}
.control-button:active {
    filter: brightness(0%);
}
.control-button2 {
    padding: 5px;
    filter: brightness(0%);
    cursor: pointer;
}
.control-button2:hover {
    filter: brightness(50%);
}
.control-button2:active {
    filter: brightness(0%);
}
.form-error {
    color: rgb(182, 0, 0);
}
/*BUTTONS END*/
@media screen and (min-width: 800px) {
.control-button {
    font-size: 36px;
    width: 50px;
    height: 50px;
}
.control-button2 {
    font-size: 24px;
    width: 40px;
    height: 40px;
}
}

@media screen and (max-width: 800px) {
.control-button {
    font-size: 36px;
    width: 60px;
    height: 60px;
}
.control-button2 {
    font-size: 24px;
    width: 40px;
    height: 40px;
}
}